[include mainsail.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_30001A000250535556323420-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: PG6
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: PG9
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 4    
microsteps: 16
endstop_pin: PG10
position_max: 250
position_min: -3
homing_speed: 8.0
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
rotation_distance: 4  
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PE1
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 4  
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0
rotation_distance: 21.545003545
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:10 for Stealthburner/Clockwork 2
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
gear_ratio: 50:17
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PA2
sensor_type: Generic 3950
sensor_pin: PF4
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170

[tmc2209 extruder]
uart_pin: PD3
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 0.6
min_temp: 0
max_temp: 120

#####################################################################
#   Probe
#####################################################################

[probe]
pin: PG15
x_offset: 0
y_offset: 25.0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 30,30
mesh_max: 270,270
probe_count: 3,3

#####################################################################
#   Fan Control
#####################################################################

[fan]
pin: PA8
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: PE5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[controller_fan controller_fan]
pin: PD12
kick_start_time: 0.5
heater: heater_bed

[fan_generic skirt_left]
pin: PD15
max_power: 0.9
kick_start_time: 0.5
off_below: 0.10

[fan_generic skirt_right]
pin: PD14
max_power: 0.9
kick_start_time: 0.5
off_below: 0.10

[fan_generic filter]
pin: PD13
max_power: 0.9
kick_start_time: 0.5
off_below: 0.10

#####################################################################
#   Temp sensors
#####################################################################

[temperature_sensor mcu]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor chamber]
sensor_type: Generic 3950 
sensor_pin: PF5
min_temp: 0
max_temp: 100
gcode_id: C

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
home_xy_position:173,300
speed:100
z_hop:10

[z_tilt]
z_positions:
  -50, 18
  150, 348
  350, 18
points:
  30, 5
  150, 245
  270, 5
  
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
#   Displays
#####################################################################

# [display]

#####################################################################
#   Macros
#####################################################################

[gcode_macro PRINT_START]
gcode:
    M117 Heating...
    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(0)|float %}
    M140 S{BED_TEMP}
    M104 S{EXTRUDER_TEMP}

    # wait for bed/extruder to reach the temperature
    M190 S{BED_TEMP}
    M109 S{EXTRUDER_TEMP}
    
    M117 Homing...
    G28
    Z_TILT_ADJUST
    G28
    BED_MESH_PROFILE LOAD=default 
    G0 X150 Y150 Z30 F3600

[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR

    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.930
#*#
#*# [stepper_z]
#*# position_endstop = 0.945
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.813
#*# pid_ki = 1.375
#*# pid_kd = 288.148
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.243
#*# pid_ki = 1.283
#*# pid_kd = 114.547
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.610000, 0.610000, 0.615000
#*# 	0.606250, 0.690000, 0.625000
#*# 	0.627500, 0.628750, 0.606250
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 270.0
#*# min_y = 30.0
#*# max_y = 270.0
